<div class="container">
  <h2>Register for Full Stack Conf</h2>
  <form >
    <div class="form-group">
      <h3>Basic Info</h3>
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control">
      <label for="email">Email</label>
      <input id="email" name="email" class="form-control">
    </div>

    <!-- Payment Info -->
    <div class="form-group">
      <h3>Payment Info</h3>
      <p>I'm going to pay with</p>
      <div class="row">
        <div class="col-6">
        <label for="cc-num">Card Number</label>
        <input id="cc-num" name="cc-num" class="form-control">
      </div>
      <div class="col-3">
        <label for="zipcode">Zip Code:</label>
        <input id="zipcode" name="zipcode" class="form-control">
      </div>
      <div class="col-3">
        <label for="cvv">CVV:</label>
        <input id="cvv" name="cvv" class="form-control">
      </div>
      </div>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>
